<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
        body {
            width: 180px;
            height: 100px;
        }
    </style>
    <script src="js/theme-loader.js"></script>
    <script src="js/theme.js"></script>
</head>
<body>
<div class="text-center">
    <b>
        <p>Detailed statistics</p>
    </b>
    <p id="total-tasks">Total tasks: 0</p>
    <div id="task-stats"></div>
    <p><a href="popup.html" id="back">| Back |</a></p>
</div>
<hr>
<a href="https://www.flaticon.com/free-icons/count" title="count icons">Count icons created by Freepik - Flaticon</a>
<script type="module" src="js/tasks.js"></script>
</body>
</html>
